<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>길찾기 결과 지도에 표출하기</title>
</head>
<body>

<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4" style="margin-bottom: 10px">길 찾기</h1>
        <p class="lead" style="margin-bottom: 10px">현위치에서 한강으로 가는 길을 안내합니다. (위치정보 허용)</p>
        <hr class="my-4">
        <div class="input-group">
            <select class="custom-select" id="inputGroupSelect" aria-label="Example select with button addon">
                <option selected>가고자 하는 한강공원을 선택하세요</option>
                <option value="1">여의도한강공원</option>
                <option value="2">난지한강공원</option>
                <option value="3">뚝섬한강공원</option>
                <option value="4">광나루한강공원</option>
                <option value="5">강서한강공원</option>
                <option value="6">잠실한강공원</option>
                <option value="7">망원한강공원</option>
                <option value="8">양화한강공원</option>
                <option value="9">이촌한강공원</option>
                <option value="10">잠원한강공원</option>
                <option value="11">반포한강공원</option>


            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="find_loc()">길찾기</button>
            </div>
        </div>
    </div>


    <hr class="featurette-divider">
    <div id="result-box" class="row">
        <div id="map" class="col-md-7" style="height:350px; margin-left: 30px"></div> <!-- this is jido -->
        <div id="show-info-box" class="col-md-4" style="margin-left: 30px; margin-top:10px;">
            <p class="moving"><i class="fas fa-arrow-circle-right"></i> Route</p>
            <ol class="numbered" id="route">
            </ol>
        </div>
    </div>
</div>
<p style="margin-left: 15px; font-size: 10px;">powered by www.ODsay.com</p>

<!-- Naver Developers에서 발급받은 네이버지도 Application Key 입력  -->
<script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=3hxpwhkwla"></script>


<script>
    var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 10
    };

    var map = new naver.maps.Map('map', mapOptions);


    function find_loc() {
        $("#route").empty();
        map = new naver.maps.Map('map', mapOptions);
        findMapTest()
    }


    let sx = 0;
    let sy = 0;
    let ex = 0;
    let ey = 0;


    function findMapTest() {
        if (navigator.geolocation) { // GPS를 지원하면
            navigator.geolocation.getCurrentPosition(function (position) {
                user_latitude = position.coords.latitude;
                user_longitude = position.coords.longitude;

                $.ajax({
                    type: 'POST',
                    url: '/get_location',
                    data: {
                        user_latitude: user_latitude, user_longitude: user_longitude
                    },
                    success: function (response) {
                        sx = response['result']['SX']
                        sy = response['result']['SY']
                        console.log(sx)
                        console.log(sy)
                        loc = $("#inputGroupSelect").val()
                        if (loc == 1) {
                            ey = 37.528538;
                            ex = 126.934312;
                        } else if (loc == 2) {
                            ey = 37.566273;
                            ex = 126.876260;
                        } else if (loc == 3) {
                            ey = 37.529341;
                            ex = 127.071357;
                        } else if (loc == 4) {
                            ey = 37.549213;
                            ex = 127.119979;
                        } else if (loc == 5) {
                            ey = 37.588483;
                            ex = 126.815225;
                        } else if (loc == 6) {
                            ey = 37.518070;
                            ex = 127.081879;
                        } else if (loc == 7) {
                            ey = 37.555939;
                            ex = 126.894570;
                        } else if (loc == 8) {
                            ey = 37.538522;
                            ex = 126.902319;
                        } else if (loc == 9) {
                            ey = 37.524391;
                            ex = 126.953173;
                        } else if (loc == 10) {
                            ey = 37.521638;
                            ex = 127.011912;
                        } else {
                            ey = 37.509900;
                            ex = 126.994680;
                        }

                        searchPubTransPathAJAX(sx, sy, ex, ey);
                        getInfo(sx, sy, ex, ey);

                    }

                })
            }, function (error) {
                console.error(error);
            }, {
                enableHighAccuracy: false,
                maximumAge: 0,
                timeout: Infinity
            });mapObj
        }
    }


    let m = 1;

    function getInfo(sx, sy, ex, ey) {
        var xhr = new XMLHttpRequest();
        //ODsay apiKey 입력
        var url = "https://api.odsay.com/v1/api/searchPubTransPath?SX=" + sx + "&SY=" + sy + "&EX=" + ex + "&EY=" + ey + "&apiKey=zZOOCFJaccyfaXpDSn6kJaK%2BV5CTfh4tdW7Bp4Mg2Jo";
        xhr.open("GET", url, true);
        xhr.send();
        xhr.onreadystatechange = function () {

            if (xhr.readyState == 4 && xhr.status == 200) {
                let subpath = (JSON.parse(xhr.responseText))["result"]["path"][0]["subPath"]
                let path = (JSON.parse(xhr.responseText))["result"]["path"][0]


                for (let i = 0; i < subpath.length; i++) {

                    if (subpath[i]["trafficType"] == 1) {
                        txt = "<li>" + subpath[i]["startName"] + "-->"
                            + subpath[i]["endName"] +
                            " (지하철 " + subpath[i]["lane"][0]["name"] + ")" + "</li>"

                        console.log(txt)
                        $("#route").append(txt)
                    } else if (subpath[i]["trafficType"] == 2) {
                        txt = "<li>" + subpath[i]["startName"] + "-->"
                            + subpath[i]["endName"] +
                            " (" + subpath[i]["lane"][0]["busNo"] + "번 버스)" + "</li>"

                        console.log(txt)
                        $("#route").append(txt)
                    } else {
                        if (subpath[i]["sectionTime"] == 0) {
                            console.log('(환승)')
                        } else {
                            txt = "<li>" + "도보로 이동" + " (" + subpath[i]["sectionTime"] + "분 소요)" + "</li>"

                            console.log(txt)
                            $("#route").append(txt)

                        }
                    }
                }
            }
        }

    }

    function searchPubTransPathAJAX(sx, sy, ex, ey) {
        var xhr = new XMLHttpRequest();
        //ODsay apiKey 입력
        var url = "https://api.odsay.com/v1/api/searchPubTransPath?SX=" + sx + "&SY=" + sy + "&EX=" + ex + "&EY=" + ey + "&apiKey=zZOOCFJaccyfaXpDSn6kJaK%2BV5CTfh4tdW7Bp4Mg2Jo";
        xhr.open("GET", url, true);
        xhr.send();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                console.log((JSON.parse(xhr.responseText))["result"]); // <- xhr.responseText 로 결과를 가져올 수 있음
                //노선그래픽 데이터 호출
                console.log((JSON.parse(xhr.responseText))['result']['path'][0]['info'])
                callMapObjApiAJAX((JSON.parse(xhr.responseText))["result"]["path"][0].info.mapObj);
            }
        }
    }

    //길찾기 API 호출


    function callMapObjApiAJAX(mabObj) {
        var xhr = new XMLHttpRequest();
        //ODsay apiKey 입력
        var url = "https://api.odsay.com/v1/api/loadLane?mapObject=0:0@" + mabObj + "&apiKey=zZOOCFJaccyfaXpDSn6kJaK%2BV5CTfh4tdW7Bp4Mg2Jo";
        xhr.open("GET", url, true);
        xhr.send();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var resultJsonData = JSON.parse(xhr.responseText);
                drawNaverMarker(sx, sy);					// 출발지 마커 표시
                drawNaverMarker2(ex, ey);					// 도착지 마커 표시
                drawNaverPolyLine(resultJsonData);		// 노선그래픽데이터 지도위 표시
                // boundary 데이터가 있을경우, 해당 boundary로 지도이동
                if (resultJsonData.result.boundary) {
                    var boundary = new naver.maps.LatLngBounds(
                        new naver.maps.LatLng(resultJsonData.result.boundary.top, resultJsonData.result.boundary.left),
                        new naver.maps.LatLng(resultJsonData.result.boundary.bottom, resultJsonData.result.boundary.right)
                    );
                    map.panToBounds(boundary);
                }
            }
        }
    }

    // 지도위 마커 표시해주는 함수
    function drawNaverMarker(x, y) {
        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(y, x),
            animation: 2,
            map: map,

        });
    }

    function drawNaverMarker2(x, y) {
        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(y, x),
            animation: 2,
            map: map,

        });
    }


    // 노선그래픽 데이터를 이용하여 지도위 폴리라인 그려주는 함수
    function drawNaverPolyLine(data) {
        var lineArray;

        for (var i = 0; i < data.result.lane.length; i++) {
            for (var j = 0; j < data.result.lane[i].section.length; j++) {
                lineArray = null;
                lineArray = new Array();
                for (var k = 0; k < data.result.lane[i].section[j].graphPos.length; k++) {
                    lineArray.push(new naver.maps.LatLng(data.result.lane[i].section[j].graphPos[k].y, data.result.lane[i].section[j].graphPos[k].x));
                }

                //지하철결과의 경우 노선에 따른 라인색상 지정하는 부분 (1,2호선의 경우만 예로 들음)
                if (data.result.lane[i].type == 1) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#0052A4'
                    });
                } else if (data.result.lane[i].type == 2) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#009D3E'
                    });
                } else if (data.result.lane[i].type == 3) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#EF7C1C'
                    });
                } else if (data.result.lane[i].type == 4) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#00A5DE'
                    });
                } else if (data.result.lane[i].type == 5) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#996CAC'
                    });
                } else if (data.result.lane[i].type == 6) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#CD7C2F'
                    });
                } else if (data.result.lane[i].type == 7) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#747F00'
                    });
                } else if (data.result.lane[i].type == 8) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#EA545D'
                    });
                } else if (data.result.lane[i].type == 9) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#BDB092'
                    });
                } else if (data.result.lane[i].type == 100) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#F5A200'
                    });
                } else if (data.result.lane[i].type == 101) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#0065B3'
                    });
                } else if (data.result.lane[i].type == 21) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#7CA8D5'
                    });
                } else if (data.result.lane[i].type == 104) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#77C4A3'
                    });
                } else if (data.result.lane[i].type == 107) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#6FB245'
                    });
                } else if (data.result.lane[i].type == 108) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#0C8E72'
                    });
                } else if (data.result.lane[i].type == 109) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#D4003B'
                    });
                } else if (data.result.lane[i].type == 111) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#F5A200'
                    });
                } else {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3
                    });
                }
            }
        }
    }
</script>


</body>
</html>