<!DOCTYPE html>
<html>

<head>
    <meta property="og:title" content="술슐랭 가이드 인 서울" />
    <meta property="og:description" content="대한민국 국민이라면 믿고 갈 수 있는 네이버 이용자들의 서울 술집 리스트. 당신의 오늘 분위기에 맞춘 술집은 어디? " />
    <meta property="og:image" content="{{ url_for('static', filename='images/nachelin.jpg') }}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>술슐랭 가이드 인 서울</title>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=73tiw08tb8&submodules=geocoder"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=73tiw08tb8&callback=CALLBACK_FUNCTION"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                crossorigin="anonymous"></script>





    <script>
        var mapOptions = {
            center: new naver.maps.LatLng(37.546065, 126.983068),
            zoom: 12
        }
        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(37.546065, 126.983068),
            zoom: 12
        });


    </script>
    <style>
        #map {
            width: 700px;
            height: 500px;
            margin: 50px auto 50px auto;
        }

        .wrap {
            width: 700px;
            margin: 10px auto;
        }

        .suljip-list {
            overflow: scroll;
            width: 700px;
            height: 800px;
        }
        body > div.input-group.mb-3 {
            text-align: center;
        }

        .btn btn-outline-secondary {
            text-align: right;
        }
        

    </style>

</head>

<body>
    <div class="wrap">
        <h1>SULCHELIN</h1>
        <br/>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
               <select name="sulType" style="width: 170px">
                    <option value="와인" selected="selected">wine</option>
                    <option value="칵테일">cocktail</option>
                    <option value="소주">soju</option>
                    <option value="맥주">beer</option>
               </select>
              <input type="text" class="form-control" aria-label="Text input with dropdown button" id="guName" style="width: 400px">
              <div class="input-group-append">
                <button type="button" class="btn btn-success" onclick="find_my_best_place()" style="width: 130px">검색</button>
              </div>
          </div>
        </div>




        <div id="map">
        </div>
        <script>
        var HOME_PATH = window.HOME_PATH || '.',
            urlPrefix = HOME_PATH +'/data/region',
            urlSuffix = '.json',
            regionGeoJson = [],
            loadCount = 0;

        var mapOptions = {
            center: new naver.maps.LatLng(37.546065, 126.983068),
            zoom: 12
        };



        var map = new naver.maps.Map('map', mapOptions);
        </script>

        <div class="suljip-list" id="suljip-box">
        </div>
    </div>

    <script>

        //서울시 전체 구 목록
        let seoulGu = ["종로구", "중구", "용산구", "성동구", "광진구", "동대문구", "중랑구", "성북구", "강북구", "도봉구", "노원구", "은평구", "서대문구", "마포구", "양천구", "강서구", "구로구", "금천구", "영등포구", "동작구", "관악구", "서초구", "강남구", "송파구", "강동구"];

        // 전달받은 구이름 확인(서울시에있는 구가 맞는지)
         function isValidGuName(guName) {
            for (let i=0; i<seoulGu.length; i++) {
                if (guName == seoulGu[i]) {
                    return true;
                }
            }
            return false;
        }

        // 술집 검색 요청
        function find_my_best_place() {
            let guName = $("#guName").val();
            let sulType = $('select[name="sulType"]').val();
            if (guName =='') {
                alert('구 이름을 입력하세요.');
                return;
            }

            if (isValidGuName(guName)==false) {
                alert('올바른 구 이름을 입력하세요.');
                return;
            }

            // 기존 술집 목록이 있으면 지우고
            $('#suljip-box').empty();

            // 술집 정보 요청 하기
           $.ajax({
                type: "GET",
                url: `/suljip?gu_give=${guName}&sul_give=${sulType}`,
                data: {},
                success: function (response) {
                    if(response ['result'] == 'success') {
                        let suljipList = response['suljip_list'];
                        // TM128 좌표를 위도/경도 좌표로 변환
                        suljipList = getSuljipListWithGeoData(suljipList);
                        // 맛집을 html로 추가 (지도 밑에 리스트 목록)
                        addHTML(suljipList)
                        // 지도 나타내기
                        drawMap(suljipList)
                        findLocation(suljipList)

                    } else {
                        alert('검색에 실패하였습니다.');
                    }
                }
            });
        }
        function addHTML(suljipList) {
             for (let i = 0; i < suljipList.length; i++) {
                 let tempHtml = makeCard(suljipList[i]);
                 $('#suljip-box').append(tempHtml);
             }
        }

        function makeCard(suljip) {
            return `<div class="card">
                        <div class="card-body">
                            <h5 class="card-title" id="suljip-title"><a href="#" class="suljip-title">${suljip['title']}</a></h5>
                            <h6 class="card-subtitle mb-2 text-muted">${suljip['category']}</h6>
                            <p class="card-text">${suljip['roadAddress']}</p>
                            <a href="${suljip['link']}" target="_blank" class="card-link">링크</a>
                            <a href="#" class="card-link">${suljip['telephone']}</a>
                            <input type="hidden" id="shop_title" value="${suljip['title']}" />
                            <input type="hidden" id="shop_lng" value="${suljip['mapx']}" />
                            <input type="hidden" id="shop_lat" value="${suljip['mapy']}" />
                            <button class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" onclick="findLocation(suljip)" >길찾기</button>
                        </div>
                    </div>`;
        }

        //modal
        function findLocation(suljip) {
             $('#staticBackdrop').on('show.bs.modal', function (event) {

                 //var edit_card = $(event.relatedTarget) // Button that triggered the modal
                 var modal = $(this)
                 var suljip_title = $('#shop_title>a').val();
                 // 문제. suljip_title이 1번째 식당밖에 안읽힘 2번째 문제. 경도랑 위도가 잘못잡힘.
                 console.log(suljip_title)
                 let ex = $('#shop_lat').val();
                 let ey = $('#shop_lng').val();

                 // TM128 좌표를 위도(lat), 경도(lng) 딕셔너리로 반환
                 let geoData = getLatLng(ex, ey);
                 console.log(geoData)
                 //console.log(suljip_title)

                 modal.find('.modal-title').text(suljip_title+'(으)로 가는길을 안내합니다. (내 위치 허용)')

                 findMapTest(suljip_title)

             })
        }





        // TM128 좌표를 위도(lat), 경도(lng) 딕셔너리로 반환
        function getLatLng(ex, ey) {
            // 문자열 -> 숫자로 변환
            let x = parseInt(ex);
            let y = parseInt(ey);

            // 네이버가 제공하는 변환 함수 사용
            let geoInfo = naver.maps.TransCoord.fromTM128ToLatLng(new naver.maps.Point(x, y));
            // 변환 딕셔너리 반환
            return { 'lat': geoInfo._lat, 'lng': geoInfo._lng }
        }

        // suljipList 좌표 정보를 바꾸기
        function getSuljipListWithGeoData(suljipList) {
		    // 반환할 술집 목록
            let result = [];

            for (let i = 0; i < suljipList.length; i++) {
                // 개별 술집 데이터를 suljip에 저장
                let suljip = suljipList[i];
                let ex = suljip['mapx'];
                let ey = suljip['mapy'];
                // TM128 좌표를 위도(lat), 경도(lng) 딕셔너리로 반환
                let geoData = getLatLng(ex, ey);
                // geoData 라는 이름으로 술집 데이터에 추가
                suljip['geoData'] = geoData;
                // 반환할 술집 목록에 추가
                console.log(geoData)
                result.push(suljip);

                //findMapTest(geoData);
            }
            // 맛집 목록 반환
            return result;
        }


        function drawMap(suljipList) {
            // 1등 술집의 위치 정보를 geoData에 저장
            let geoData = suljipList[0]['geoData'];

            // 마커 목록 만들기
            let markerList = [];
            let contents = [];
            // 1등 술집을 지도의 중심에 놓기
            let numberOne = new naver.maps.LatLng(geoData['lat'], geoData['lng']),
                map = new naver.maps.Map('map', {
                    center: numberOne,
                    zoom: 12
                }),
                marker = new naver.maps.Marker({
                    position: numberOne,
                    map: map
                });

            // 2등부터 마지막까지 술집 데이터를 지도에 표시
            for (let i = 0; i < suljipList.length; i++) {
                let suljip = suljipList[i];
                let position = new naver.maps.LatLng(suljip['geoData']['lat'], suljip['geoData']['lng'])
                marker = new naver.maps.Marker({
                    position: position,
                    map: map
                });

                // 마커를 클릭했을 때 보여줄 창을 HTML 태그로 만들기
                let contentString = `<div class="iw_inner">
                                    <h3>${suljip['title']}</h3>
                                    <p>${suljip['address']}<br />
                                        ${suljip['category']}<br />
                                        <a href="${suljip['link']}" target="_blank">링크</a>
                                    </p>
                                    </div>`;
                // contents에 태그를 저장
                contents.push(contentString);
                // 마커 목록에 markerList 저장하기
                markerList.push(marker);
            }

            // 클래스명이 suljip-title 카드 정보를 추출 (상호명)
            const suljipElement = $('.suljip-title');

            for (let i = 0; i < markerList.length; i++) {
                let marker = markerList[i];
                let infowindow = new naver.maps.InfoWindow({
                    content: contents[i],
                    maxWidth: 140,
                    backgroundColor: "#eee",
                    borderColor: "#2db400",
                    borderWidth: 5,
                    anchorSize: new naver.maps.Size(30, 30),
                    anchorSkew: true,
                    anchorColor: "#eee",
                    pixelOffset: new naver.maps.Point(20, -20)
                });

                // 마커를 클릭했을 때 지도 위에 정보 띄우기
                naver.maps.Event.addListener(marker, "click", function (e) {
                    if (infowindow.getMap()) {
                        infowindow.close();
                    } else {
                        infowindow.open(map, marker);
                    }
                });
                // 맛집 HTML의 상호명을 클릭했을 때 지도 위에 정보 띄우기
                suljipElement[i].addEventListener('click', function (e) {
                    e.preventDefault();
                    if (infowindow.getMap()) {
                        infowindow.close();
                    } else {
                        infowindow.open(map, marker);
                    }
                })

            }
        }

    </script>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">현재위치에서 가는길을 안내합니다.</h5>
                <button class="btn btn-outline-secondary" type="button" onclick="find_loc()">go</button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <div id="result-box" class="row">
                        <div id="map2" class="col-md-7" style="height:350px; margin-left: 30px"></div> <!-- map2 -->
                        <div id="show-info-box" class="col-md-4" style="margin-left: 30px; margin-top:10px;">
                            <p class="moving"><i class="fas fa-arrow-circle-right"></i> Route</p>
                            <ol class="numbered" id="route">
                            </ol>
                        </div>
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
        </div>
    </div>
    <!-- Naver Developers에서 발급받은 네이버지도 Application Key 입력  -->
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=73tiw08tb"></script>
<script>



    var mapOptions2 = {
            center: new naver.maps.LatLng(37.546065, 126.983068),
            zoom: 12
        }
    var map2 = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(37.546065, 126.983068),
            zoom: 12
        });


    function find_loc() {
        $("#route").empty();
        map = new naver.maps.Map('map2', mapOptions2);
    }


    let sx = 0;
    let sy = 0;
    let ex = 0;
    let ey = 0;



    function findMapTest(geoData){
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                user_latitude = position.coords.latitude;
                user_longitude = position.coords.longitude;
                shop_latitude =  geoData['lat'];
                shop_longitude = geoData['lng'];
                console.log(user_latitude, user_longitude, shop_latitude,shop_longitude);



                $.ajax({
                    type: 'POST',
                    url: '/suljip/location',
                    data: {
                        user_latitude: user_latitude,
                        user_longitude: user_longitude,
                        shop_latitude: shop_latitude,
                        shop_longitude:shop_longitude
                    },
                    success: function (response) {
                        sx = response['result']['SX']
                        sy = response['result']['SY']
                        ex = response['result']['EX']
                        ey = response['result']['EY']
                        console.log(sx)
                        console.log(sy)
                        console.log(ex)
                        console.log(ey)



                        searchPubTransPathAJAX(sx, sy, ex, ey);
                        getInfo(sx, sy, ex, ey);
                    }
                })
            }, function (error) {
                console.error(error);
            }, {
                enableHighAccuracy: false,
                maximumAge: 0,
                timeout: Infinity
            });
        }
    }


    let m = 1;

    function getInfo(sx, sy, ex, ey) {
        var xhr = new XMLHttpRequest();
        //ODsay apiKey 입력
        var url = "https://api.odsay.com/v1/api/searchPubTransPath?SX=" + sx + "&SY=" + sy + "&EX=" + ex + "&EY=" + ey + "&apiKey=7Ak3/euIYXO3u1EJYksnyvuyqX5tBUrrNfSg3h1zGec";
        xhr.open("GET", url, true);
        xhr.send();
        xhr.onreadystatechange = function () {

            if (xhr.readyState == 4 && xhr.status == 200) {
                let subpath = (JSON.parse(xhr.responseText))["result"]["path"][0]["subPath"]
                let path = (JSON.parse(xhr.responseText))["result"]["path"][0]


                for (let i = 0; i < subpath.length; i++) {

                    if (subpath[i]["trafficType"] == 1) {
                        txt = "<li>" + subpath[i]["startName"] + "-->"
                            + subpath[i]["endName"] +
                            " (지하철 " + subpath[i]["lane"][0]["name"] + ")" + "</li>"

                        console.log(txt)
                        $("#route").append(txt)
                    } else if (subpath[i]["trafficType"] == 2) {
                        txt = "<li>" + subpath[i]["startName"] + "-->"
                            + subpath[i]["endName"] +
                            " (" + subpath[i]["lane"][0]["busNo"] + "번 버스)" + "</li>"

                        console.log(txt)
                        $("#route").append(txt)
                    } else {
                        if (subpath[i]["sectionTime"] == 0) {
                            console.log('(환승)')
                        } else {
                            txt = "<li>" + "도보로 이동" + " (" + subpath[i]["sectionTime"] + "분 소요)" + "</li>"

                            console.log(txt)
                            $("#route").append(txt)

                        }
                    }
                }
            }
        }

    }

    function searchPubTransPathAJAX(sx, sy, ex, ey) {
        var xhr = new XMLHttpRequest();
        //ODsay apiKey 입력
        var url = "https://api.odsay.com/v1/api/searchPubTransPath?SX=" + sx + "&SY=" + sy + "&EX=" + ex + "&EY=" + ey + "&apiKey=7Ak3/euIYXO3u1EJYksnyvuyqX5tBUrrNfSg3h1zGec";
        xhr.open("GET", url, true);
        xhr.send();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                console.log((JSON.parse(xhr.responseText))["result"]); // <- xhr.responseText 로 결과를 가져올 수 있음
                //노선그래픽 데이터 호출
                console.log((JSON.parse(xhr.responseText))['result']['path'][0]['info'])
                callMapObjApiAJAX((JSON.parse(xhr.responseText))["result"]["path"][0].info.mapObj);
            }
        }
    }

    //길찾기 API 호출


    function callMapObjApiAJAX(mabObj) {
        var xhr = new XMLHttpRequest();
        //ODsay apiKey 입력
        var url = "https://api.odsay.com/v1/api/loadLane?mapObject=0:0@" + mabObj + "&apiKey=7Ak3/euIYXO3u1EJYksnyvuyqX5tBUrrNfSg3h1zGec";
        xhr.open("GET", url, true);
        xhr.send();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var resultJsonData = JSON.parse(xhr.responseText);
                drawNaverMarker(sx, sy);					// 출발지 마커 표시
                drawNaverMarker2(ex, ey);					// 도착지 마커 표시
                drawNaverPolyLine(resultJsonData);		// 노선그래픽데이터 지도위 표시
                // boundary 데이터가 있을경우, 해당 boundary로 지도이동
                if (resultJsonData.result.boundary) {
                    var boundary = new naver.maps.LatLngBounds(
                        new naver.maps.LatLng(resultJsonData.result.boundary.top, resultJsonData.result.boundary.left),
                        new naver.maps.LatLng(resultJsonData.result.boundary.bottom, resultJsonData.result.boundary.right)
                    );
                    map.panToBounds(boundary);
                }
            }
        }
    }

    // 지도위 마커 표시해주는 함수
    function drawNaverMarker(x, y) {
        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(y, x),
            animation: 2,
            map: map,

        });
    }

    function drawNaverMarker2(x, y) {
        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(y, x),
            animation: 2,
            map: map,

        });
    }


    // 노선그래픽 데이터를 이용하여 지도위 폴리라인 그려주는 함수
    function drawNaverPolyLine(data) {
        var lineArray;

        for (var i = 0; i < data.result.lane.length; i++) {
            for (var j = 0; j < data.result.lane[i].section.length; j++) {
                lineArray = null;
                lineArray = new Array();
                for (var k = 0; k < data.result.lane[i].section[j].graphPos.length; k++) {
                    lineArray.push(new naver.maps.LatLng(data.result.lane[i].section[j].graphPos[k].y, data.result.lane[i].section[j].graphPos[k].x));
                }

                //지하철결과의 경우 노선에 따른 라인색상 지정하는 부분
                if (data.result.lane[i].type == 1) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#0052A4'
                    });
                } else if (data.result.lane[i].type == 2) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#009D3E'
                    });
                } else if (data.result.lane[i].type == 3) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#EF7C1C'
                    });
                } else if (data.result.lane[i].type == 4) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#00A5DE'
                    });
                } else if (data.result.lane[i].type == 5) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#996CAC'
                    });
                } else if (data.result.lane[i].type == 6) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#CD7C2F'
                    });
                } else if (data.result.lane[i].type == 7) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#747F00'
                    });
                } else if (data.result.lane[i].type == 8) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#EA545D'
                    });
                } else if (data.result.lane[i].type == 9) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#BDB092'
                    });
                } else if (data.result.lane[i].type == 100) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#F5A200'
                    });
                } else if (data.result.lane[i].type == 101) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#0065B3'
                    });
                } else if (data.result.lane[i].type == 21) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#7CA8D5'
                    });
                } else if (data.result.lane[i].type == 104) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#77C4A3'
                    });
                } else if (data.result.lane[i].type == 107) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#6FB245'
                    });
                } else if (data.result.lane[i].type == 108) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#0C8E72'
                    });
                } else if (data.result.lane[i].type == 109) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#D4003B'
                    });
                } else if (data.result.lane[i].type == 111) {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3,
                        strokeColor: '#F5A200'
                    });
                } else {
                    var polyline = new naver.maps.Polyline({
                        map: map,
                        path: lineArray,
                        strokeWeight: 3
                    });
                }
            }
        }
    }
</script>
</body>

</html>